# Everything that is required to build the docs
-r requirements.txt

# Executors
-r requirements-connector-radical.txt


# Docs
six
Sphinx==4.5.0
sphinx_rtd_theme
sphinx-tabs
sphinx-multiversion

# For the web version of the docs
cloud_sptheme == 1.10.1.post20200504175005
# sphinx-autodoc-typehints
