# Everything that is required to build the docs
-r requirements.txt

# Executors
-r requirements-connector-saga.txt
-r requirements-connector-radical.txt


# Docs
six
Sphinx
sphinx_rtd_theme
sphinx-tabs

# For the web version of the docs
cloud_sptheme == 1.10.1.post20200504175005
# sphinx-autodoc-typehints
