# Things needed to run the tests

-r requirements.txt
-r requirements-connector-radical.txt

pytest >= 6.2.0
requests >= 2.25.1
pytest-cov
pytest-timeout
filelock >= 3.4, < 3.19
textual
tree-sitter
tree-sitter-bash
