-r requirements.txt
-r requirements-docs.txt

# Executors
-r requirements-connector-radical.txt

# Testing / QA
-r requirements-tests.txt
mypy >=0.931
flake8
flake8-docstrings
autopep8
types-requests
