        <v-app-bar elevation="4" height="48pt" fixed elevate-on-scroll width="100%">
            <v-tabs v-model="maintabs">
                <v-tab key="index"><a href="{{site.baseurl}}/index.html"><div class="psij-font logo">PSI/J</div></a></v-tab>
                <v-tab key="install"><a href="{{site.baseurl}}/install.html">Install</a></v-tab>
                <v-tab key="docs"><a href="{{site.baseurl}}/docs">Documentation</a></v-tab>
                <v-tab key="resources"><a href="{{site.baseurl}}/resources.html">Resources</a></v-tab>
                <v-tab key="about"><a href="{{site.baseurl}}/about.html">About</a></v-tab>
            </v-tabs>
   
            <div class="slack-link navbar-link">
                <a href="https://join.slack.com/t/exaworks/shared_invite/zt-gttapi1i-GSaiHd8Q0h7uKyZnIqAUwQ"
                    target="_blank"><i class="fab fa-slack"></i></a>&nbsp;&nbsp;
            </div>
            <div class="gh-link navbar-link">
                <a href="https://github.com/exaworks" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </v-app-bar>

        <div id="top-spacer"></div>
