#!/bin/bash

exec &> "{{psij.script_dir}}/$PSIJ_BATCH_TEST_JOB_ID.out"

{{#job.spec.directory}}
cd "{{.}}"
{{/job.spec.directory}}

{{#job.spec.resources}}
    {{#process_count}}
export PSIJ_TEST_BATCH_EXEC_COUNT={{.}}
    {{/process_count}}
{{/job.spec.resources}}

{{#job.spec.attributes}}
    {{#queue_name}}
export PSIJ_TEST_BATCH_EXEC_QUEUE="{{.}}"
    {{/queue_name}}
    {{#project_name}}
export PSIJ_TEST_BATCH_EXEC_PROJECT="{{.}}"
    {{/project_name}}
    {{#reservation_id}}
export PSIJ_TEST_BATCH_EXEC_RES_ID="{{.}}"
    {{/reservation_id}}
{{/job.spec.attributes}}

{{#custom_attributes}}
    {{#batch-test}}
export {{key}}="{{value}}"
    {{/batch-test}}
{{/custom_attributes}}


HOSTNAME=`hostname`
PSIJ_NODEFILE="{{psij.script_dir}}/$PSIJ_BATCH_TEST_JOB_ID.nodefile"
rm -f "$PSIJ_NODEFILE"
for NODE in $(seq 1 1 "$PSIJ_TEST_BATCH_EXEC_COUNT"); do
    echo  "$HOSTNAME-$NODE" >> "$PSIJ_NODEFILE"
done

export PSIJ_NODEFILE

{{#job.spec.inherit_environment}}env \{{/job.spec.inherit_environment}}{{^job.spec.inherit_environment}}env --ignore-environment \{{/job.spec.inherit_environment}}{{#env}}
{{name}}="{{value}}" \
{{/env}}{{#psij.launch_command}}{{.}} {{/psij.launch_command}}

echo "$?" > "{{psij.script_dir}}/$PSIJ_BATCH_TEST_JOB_ID.ec"