        <v-footer>
            <v-card flat tile class="lighten-1 text-center"
                style="margin: auto; padding: 2em 0; background-color: #f5f5f5 !important;">
                <v-card-text>
                    &copy;2021-<script type="application/javascript">document.write(new Date().getFullYear());</script> - <a href="https://exaworks.org">The ExaWorks Project</a>
                </v-card-text>

                <v-row justify="center">
                    <v-col justify="center">
                        <img height="36pt" src="https://exaworks.org/images/llnl.png">
                    </v-col>
                    <v-col justify="center">
                        <img height="36pt" src="https://exaworks.org/images/anl-200.png">
                    </v-col>
                    <v-col justify="center">
                        <img height="36pt" src="https://exaworks.org/images/bnl.png">
                    </v-col>
                    <v-col justify="center">
                        <img height="30pt" src="https://exaworks.org/images/ornl.png"
                            style="vertical-align: bottom; margin-top: 0.3em">
                    </v-col>
                </v-row>
                <v-row justify="center">
                    <v-col class="text-end">
                        <img height="20pt"
                            src="https://science.osti.gov/-/media/_/images/about/resources/logos/png/high-res/RGB_Color-Seal_Green-Mark_SC_Horizontal.png"
                            style="vertical-align: middle">
                    </v-col>
                    <v-col class="text-start">
                        <span class="psij-font">PSI/J</span> is funded by the U.S. Department of Energy
                    </v-col>
                    <v-col class="text-end">
                        <img height="40pt" src="https://www.ecpannualmeeting.com/images/ecp-horizontal.png">
                    </v-col>
                    <v-col class="text-start">
                        <span class="psij-font">PSI/J</span> is part of the Exascale Computing Project
                    </v-col>
                </v-row>
            </v-card>
        </v-footer>
