        <v-app-bar elevation="4" height="48pt" fixed elevate-on-scroll width="100%">
            <v-tabs v-model="maintabs">
                <v-tab href="index.html" key="index"><div class="psij-font logo">PSI/J</div></v-tab>
                <v-tab href="install.html" key="install">Install</v-tab>
                <v-tab href="docs" key="docs">Documentation</v-tab>
                <v-tab href="resources.html" key="resources">Resources</v-tab>
                <v-tab href="about.html" key="about">About</v-tab>
            </v-tabs>
   
            <div class="slack-link navbar-link">
                <a href="https://join.slack.com/t/exaworks/shared_invite/zt-gttapi1i-GSaiHd8Q0h7uKyZnIqAUwQ"
                    target="_blank"><i class="fab fa-slack"></i></a>&nbsp;&nbsp;
            </div>
            <div class="gh-link navbar-link">
                <a href="https://github.com/exaworks" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </v-app-bar>

        <div id="top-spacer"></div>
