
    <script>
        v = new Vue({
            el: '#psij-app',
            vuetify: new Vuetify(),
            data: {
                maintabs: {{ page.tab }},
                version: getCurrentVersion()
            },
            methods: {
                getSortedVersionLabels: getSortedVersionLabels,
                setVersion: setVersion,
                getMainDocsPage: getMainDocsPage,
                isDocsPage: isDocsPage
            }
        });

        hljs.highlightAll();
    </script>