#!/bin/bash

set -e

{{> batch_lib}}

{{#job.spec.directory}}
cd "{{.}}"
{{/job.spec.directory}}

{{> stagein}}
update_status ACTIVE

set +e
{{#job.spec.inherit_environment}}env \{{/job.spec.inherit_environment}}{{^job.spec.inherit_environment}}env --ignore-environment \{{/job.spec.inherit_environment}}{{#env}}
{{name}}="{{value}}" \{{/env}}
PSIJ_NODEFILE={{psij.nodefile}} \
{{#psij.launch_command}}{{.}} {{/psij.launch_command}}
_PSIJ_JOB_EC="$?"
set -e

{{> stageout}}
{{> cleanup}}

exit "$_PSIJ_JOB_EC"