#!/bin/bash
{{#job.name}}
#COBALT --jobname={{.}}
{{/job.name}}
{{#job.spec.directory}}
#COBALT --cwd={{.}}
{{/job.spec.directory}}
{{#job.spec.resources}}
    {{#computed_node_count}}
#COBALT --nodecount={{.}}
    {{/computed_node_count}}
    {{#computed_process_count}}
#COBALT --proccount={{.}}
    {{/computed_process_count}}
{{/job.spec.resources}}
{{#formatted_job_duration}}
#COBALT --time={{duration}}
{{/formatted_job_duration}}
{{#job.spec.attributes}}
    {{#queue_name}}
#COBALT --queue={{.}}
    {{/queue_name}}
    {{!Like PBS, Cobalt uses specially named queues for reservations, so we send the job to the
    respective queue when a reservation ID is specified.}}
    {{#reservation_id}}
#COBALT --queue={{.}}
    {{/reservation_id}}
    {{#account}}
#COBALT --project={{.}}
    {{/account}}
{{/job.spec.attributes}}

{{#custom_attributes}}
    {{#cobalt}}
#COBALT --{{key}}="{{value}}"
    {{/cobalt}}
{{/custom_attributes}}


{{#env}}
#COBALT --env {{name}}={{value}}
{{/env}}

{{!since we redirect the output manually, below, tell COBALT not to do its own thing, since it
only results in empty files that are not cleaned up}}
#COBALT -e /dev/null
#COBALT -o /dev/null

{{!like PBS, this is also cheap and there is not need to check setting}}
PSIJ_NODEFILE="$COBALT_NODEFILE"
export PSIJ_NODEFILE

{{!redirect output here instead of through #COBALT directive since COBALT_JOB_ID is not available
when the directives are evaluated; the reason for using the job id in the first place being the
same as for the exit code file.}}
exec &>> "{{psij.script_dir}}/$COBALT_JOBID.out"

{{#psij.launch_command}}{{.}} {{/psij.launch_command}}

{{!we redirect to a file tied to the native ID so that we can reach the file with attach().}}
echo "$?" > "{{psij.script_dir}}/$COBALT_JOBID.ec"
