_psij_update_status STAGE_IN
{{#job.spec.stage_in}}
_psij_do_stagein "{{source.path}}" "{{target}}" {{mode}} \
    "{{{source.scheme}}}" "{{#source.hostname}}{{{.}}}{{#source.port}}:{{{.}}}{{/source.port}}{{/source.hostname}}"
{{/job.spec.stage_in}}
