#!/bin/bash

{{#job.name}}
#BSUB -J "{{.}}"
{{/job.name}}

{{#job.spec.directory}}
#BSUB -cwd "{{.}}"
{{/job.spec.directory}}

{{#job.spec.inherit_environment}}
#BSUB -env all
{{/job.spec.inherit_environment}}
{{^job.spec.inherit_environment}}
#BSUB -env none
{{/job.spec.inherit_environment}}
{{#env}}
#BSUB -env {{name}}={{value}}
{{/env}}

{{#job.spec.resources}}

    {{#computed_node_count}}
#BSUB -nnodes {{.}}
    {{/computed_node_count}}

    {{#computed_process_count}}
#BSUB -n {{.}}
    {{/computed_process_count}}

    {{#gpu_cores_per_process}}
#BSUB -gpu num={{.}}/task
    {{/gpu_cores_per_process}}

    {{#memory}}
#BSUB -M {{memory_kb}}KB
    {{/memory}}

{{/job.spec.resources}}


{{#formatted_job_duration}}
#BSUB -W {{.}}
{{/formatted_job_duration}}

{{#job.spec.attributes}}
    {{#queue_name}}
#BSUB -q "{{.}}"
    {{/queue_name}}

    {{#account}}
#BSUB -G "{{.}}"
#BSUB -P "{{.}}"
    {{/account}}

    {{#reservation_id}}
#BSUB -U "{{.}}"
    {{/reservation_id}}

    {{#custom_attributes.lsf}}
#BSUB -{{key}} "{{value}}"
    {{/custom_attributes.lsf}}

{{/job.spec.attributes}}

{{#custom_attributes}}
    {{#lsf}}
#BSUB -{{key}} "{{value}}"
    {{/lsf}}
{{/custom_attributes}}


{{!since we redirect the output manually, below, tell LSF not to do its own thing, since it
only results in empty files that are not cleaned up}}
#BSUB -e /dev/null
#BSUB -o /dev/null

PSIJ_NODEFILE="$LSB_HOSTS"
export PSIJ_NODEFILE

{{!redirect output here instead of through #BSUB directive since LSB_JOBID is not available
when the directives are evaluated; the reason for using the job id in the first place being the
same as for the exit code file.}}
exec &>> "{{psij.script_dir}}/$LSB_JOBID.out"

{{#psij.launch_command}}{{.}} {{/psij.launch_command}}

{{!we redirect to a file tied to the native ID so that we can reach the file with attach().}}
echo "$?" > "{{psij.script_dir}}/$LSB_JOBID.ec"
