#!/bin/bash

{{#job.name}}
#PBS -N="{{.}}"
{{/job.name}}

{{#job.spec.attributes}}
    {{#duration}}
#PBS -l walltime={{.}}
# BENC: unclear what the syntax is here for times... its always a mess
    {{/duration}}
    {{#custom_attributes.pbs}}
#PBS --{{key}}="{{value}}"
    {{/custom_attributes.pbs}}

{{/job.spec.attributes}}

{{!since we redirect the output manually, below, tell pbs not to do its own thing, since it
only results in empty files that are not cleaned up}}
#PBS -e /home/benc/tmp-e.txt
#PBS -o /home/benc/tmp-o.txt

# TODO: compare with the slurm template: there are many SBATCH lines that I've deleted above,
# instead of converting into the equivalent #PBS lines.
# I should review all of those and see which make sense for PBS, which should be dropped,
# which are part of the slurm job spect not the general job spec, etc

echo HELLO from benc

{{#job.spec.directory}}
echo CHANGING DIRECTORY to "{{.}}"
cd "{{.}}"
{{/job.spec.directory}}

echo REDIRECTING OUTPUT TO "{{psij.script_dir}}/$PBS_JOBID.out"
echo AND RUNNING COMMAND: {{#psij.launch_command}}{{.}} {{/psij.launch_command}}

{{!redirect output here instead of through #SBATCH directive since SLURM_JOB_ID is not available
when the directives are evaluated; the reason for using the job id in the first place being the
same as for the exit code file.}}
exec &>> "{{psij.script_dir}}/$PBS_JOBID.out"

{{#psij.launch_command}}{{.}} {{/psij.launch_command}}

{{!we redirect to a file tied to the native ID so that we can reach the file with attach().}}
echo "$?" > "{{psij.script_dir}}/$PBS_JOBID.ec"
