<!DOCTYPE html>
<html>

<head>
    <title>PSI/J - Python</title>
    <!-- must be first for the switcher to work -->
    <link rel="stylesheet" href="theme-4.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Saira:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.0.3/vue-router.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css?id=2">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/tender.min.css">
    <script src="https://kit.fontawesome.com/0f2ef02e2b.js" crossorigin="anonymous"></script>
</head>

<body>
    <v-app id="psij-app">
        <v-app-bar elevation="4" height="48pt" fixed elevate-on-scroll width="100%">
            <v-tabs v-model="maintabs" @change="tabChanged">
                <v-tab href="#index" key="index"><div class="psi-j-font logo">PSI/J</div></v-tab>
                <v-tab href="#install" key="install">Install</v-tab>
                <v-tab href="#docs" key="docs">Documentation</v-tab>
                <v-tab href="#resources" key="resources">Resources</v-tab>
                <v-tab href="#about" key="about">About</v-tab>
            </v-tabs>
            <!--<v-select :items="themes" filled flat solo label="Select theme" dense @change="changeTheme"></v-select>-->
            <div class="gh-link">
                <a href="https://join.slack.com/t/exaworks/shared_invite/zt-gttapi1i-GSaiHd8Q0h7uKyZnIqAUwQ"
                    target="_blank"><i class="fab fa-slack"></i></a>&nbsp;&nbsp;
                <a href="https://github.com/exaworks" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </v-app-bar>

        <div id="top-spacer"></div>

        <v-tabs-items v-model="maintabs2">
            <!--------------------------------------------------------------->
            <!--------                Main page                    ---------->
            <!--------------------------------------------------------------->
            <v-tab-item value="index" key="index">
                <div id="main-banner">
                    <v-container justify="space-around">
                        <v-row justify="center">
                            <v-col justify="center">
                                <div>
                                    <h2>Portable Submission Interface for Jobs</h2>
                                    <h3>A Python abstraction layer over cluster schedulers</h3>
                                    <br />
                                    <img id="big-puzzle" src="https://exaworks.org/images/exaworks-psij.png">
                                </div>
                            </v-col>
                            <v-col justify="center">
                                <v-card align="center" style="padding: 2em; margin-right: 5em">
                                    <div class="icon-logo"><i class="fas fa-server" style="color: #9A3A68"></i></div>
                                    <h3>Write Scheduler Agnostic HPC Applications</h3>
                                    <p style="color: #666; padding: 0 1em">
                                        Use a unified API to enable your HPC application to run virtually anywhere.
                                        <span class="psi-j-font">PSI/J</span> automatically translates abstract job
                                        specifications into concrete scripts and commands to send to the scheduler.
                                        <span class="psi-j-font">PSI/J</span> is tested on a wide variety of clusters.
                                    </p>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-container>
                </div>

                <div id="secondary-banner">
                    <v-container>
                        <v-row>
                            <v-col justify="center">
                                <v-card align="center">
                                    <div class="icon-logo"><i class="fas fa-terminal" style="color: #DD3D5A"></i></div>
                                    <h3><span class="psi-j-font">PSI/J</span> runs entirely in user space</h3>

                                    <p style="color: #666; padding: 0 1em">
                                        There is no need to wait for infrequent deployment cycles. The HPC world
                                        tends to be rather dynamic and the ability to quickly integrate changes
                                        prompted by experimental changes in the cluster environment is essential.
                                    </p>
                                </v-card>
                            </v-col>
                            <v-col justify="center">
                                <v-card align="center">
                                    <div class="icon-logo"><i class="fas fa-puzzle-piece" style="color: #F15A3D"></i>
                                    </div>
                                    <h3>Use built-in or community contributed plugins</h3>

                                    <p style="color: #666; padding: 0 1em">
                                        Let's be realistic. It is virtually impossible for a single entity to
                                        provide stable and tested adapters to all clusters and schedulers. That is
                                        why <span class="psi-j-font">PSI/J</span> enables and encourages community
                                        contributions to scheduler adapters, testbeds, and specific cluster
                                        knowledge.
                                    </p>
                                </v-card>
                            </v-col>

                            <v-col justify="center">
                                <v-card align="center">
                                    <div class="icon-logo"><i class="fas fa-save" style="color: #FDA214"></i></div>
                                    <h3><span class="psi-j-font">PSI/J</span> has a rich HPC legacy</h3>

                                    <p style="color: #666; padding: 0 1em">
                                        The design of <span class="psi-j-font">PSI/J</span> is based on a number of
                                        libraries used by state of the art HPC workflow applications that the
                                        <span class="psi-j-font">PSI/J</span> team has worked on. Its architectural
                                        foundations have been tested at extreme scales and in diverse environments.
                                    </p>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-container>
                </div>
            </v-tab-item>

            <!--------------------------------------------------------------->
            <!--------                Install                      ---------->
            <!--------------------------------------------------------------->
            <v-tab-item value="install" key="install">
                <v-row class="page-start">
                    <v-col align="center">
                        <v-card align="left" class="mb-6 vbox">
                            <h2><i class="fab fa-python"></i> Installing <span class="psi-j-font">PSI/J</span> in Python
                            </h2>

                            <div style="margin-top: 1em">
                                The psi-j-python library has the following requirements:
                                <ul>
                                    <li>Python 3.6 or later
                                    <li>Ubuntu 16.04 or later (or an equivalent Linux distribution)
                                    <li>OS X 10.10 or later
                                </ul>
                                <p>
                                    To install from the command line using <code>pip</code>:
                                <pre><code class="language-bash">
$ pip install psi-j-python
                    </code></pre>
                                </p>
                            </div>
                        </v-card>

                        <v-card align="left" class="mb-6 vbox">
                            <h2><i class="fas fa-code"></i> Installing the development version of <span
                                    class="psi-j-font">PSI/J</span> in Python</h2>

                            <div>
                                <p>
                                    Using the command line:
                                <pre><code class="language-bash">
$ git clone https://github.com/ExaWorks/psi-j-python.git
$ cd psi-j-python
$ pip install -r requirements.txt
$ python setup.py install
                  </code></pre>
                                </p>
                                </v-card-text>
                            </div>
                    </v-col>
                </v-row>
            </v-tab-item>

            <!--------------------------------------------------------------->
            <!--------                Docs                         ---------->
            <!--------------------------------------------------------------->
            <v-tab-item value="docs" key="docs">
                <iframe id="docs-frame" name="docs" src="docs/index.html"></iframe>
            </v-tab-item>

            <!--------------------------------------------------------------->
            <!--------                Resources                    ---------->
            <!--------------------------------------------------------------->
            <v-tab-item value="resources" key="resources">
                <v-row class="page-start">
                    <v-col align="center">
                        <v-card align="left" class="mb-6 vbox">
                            <h2><i class="fas fa-chart-bar"></i> Site status</h2>
                            <div>
                                <img src="images/testing.png" style="max-height: 10em" />
                                <p>
                                    The <a href="https://testing.exaworks.org">site status dashboard</a> shows
                                    current and past test results for the Python binding of
                                    <span class="psi-j-font">PSI/J</span> on all sites on which test results
                                    are reported.
                                </p>
                            </div>
                        </v-card>

                        <v-card align="left" class="mb-6 vbox">
                            <h2><i class="fab fa-slack"></i> Slack</h2>
                            <div>
                                <p>
                                    We use <a
                                        href="https://join.slack.com/t/exaworks/shared_invite/zt-gttapi1i-GSaiHd8Q0h7uKyZnIqAUwQ">Slack</a>
                                    for various conversations about
                                    both the <span class="psi-j-font">PSI/J</span> specification and the Python
                                    binding.
                                </p>
                            </div>
                        </v-card>
                    </v-col>
                </v-row>
            </v-tab-item>

            <v-tab-item value="about" key="about">
                <!--------------------------------------------------------------->
                <!--------                About                        ---------->
                <!--------------------------------------------------------------->
                <v-row class="page-start">
                    <v-col align="center">
                        <v-card align="left" class="mb-6 vbox">
                            <h2>The motivation behind <span class="psi-j-font">PSI/J</span></h2>

                            <p>
                                The <a href="exaworks.org">ExaWorks</a> project is a community-led project
                                under the umbrella of the <a href="exascaleproject.org">Exascale Computing
                                    Project</a> which brings together a number of high level HPC tools developed
                                by the members of ExaWorks. We noticed that most of these projects, as well as
                                many of the community projects implemented a software layer/library to interact
                                with HPC schedulers in order to insulate the core functionality from the
                                details of how things are specified for each scheduler. We also noticed that
                                the respective libraries mostly covered schedulers running on resources that
                                each team had access to. We figured that we could use our combined knowledge to
                                design a single API/library for this goal, a library that would be tested on all
                                resources that all ExaWorks teams have access to. We could then share this API
                                and library so that all high level HPC tools could benefit from it.
                            </p>
                        </v-card>

                        <v-card align="left" class="mb-6 vbox">
                            <h2>The complexity of testing HPC libraries</h2>

                            <p>
                                A major factor contributing to the difficulties in maintaining HPC software
                                tools is that access to HPC resources is generally limited to a small number
                                of clusters local to each team. Additionally, HPC resources tend to vary
                                widely depending on the institution that maintains them. Consequently, the
                                chances that software that is tested on resources that a HPC tool development
                                team has access to will encounter problems on other HPC resources is fairly
                                high. As mentioned above, a first step in addressing this problem is by
                                pooling the teams' respective resources for testing purposes. However,
                                <span class="psi-j-font">PSI/J</span> takes it a step further by exposing an
                                infrastructure that allows any user <span class="psi-j-font">PSI/J</span> user
                                to easily contribute test results to the <span class="psi-j-font">PSI/J</span>,
                                and do so automatically. This is a mutually beneficial relationship: the
                                <span class="psi-j-font">PSI/J</span> community at large gains a certain level
                                of assurance that <span class="psi-j-font">PSI/J</span> functions correctly on
                                a wide range of resources, while users contributing tests have a mechanism to
                                ensure that the <span class="psi-j-font">PSI/J</span> team is aware of
                                potential problems specific to their resources and can address them, thus
                                ensuring that <span class="psi-j-font">PSI/J</span> continues to function
                                correctly on specific resources.
                            </p>
                        </v-card>

                        <v-card align="left" class="mb-6 vbox">
                            <h2>Precursors to <span class="psi-j-font">PSI/J</span></h2>
                            <br />
                            <h3>SAGA</h3>
                            <p>
                                SAGA &mdash; an <a href="http://dx.doi.org/10.1016/j.softx.2015.03.001">OGF
                                    standard</a> &mdash; abstracts away the specificity of diverse queue systems,
                                offering a consistent representation of jobs and of the capabilities required
                                to submit them to the resources.
                                <a href="https://github.com/radical-cybertools/radical.saga">RADICAL-SAGA</a>
                                implements a subset of the SAGA standard, exposing a homogeneous programming
                                interface to the batch systems of HPC and HTC resources, enabling job
                                submissions and file transfers across resources. RADICAL-SAGA is used by
                                <a href="https://github.com/radical-cybertools/radical.pilot">RADICAL-Pilot</a>
                                to acquire resources and staging data to and from HPC platforms.
                                <span class="psi-j-font">PSI/J</span> will replace RADICAL-SAGA, offering
                                streamlined capabilities and a modern implementation.
                            </p>
                            <br />
                            <h3>Java CoG Kit</h3>
                            <p>
                                The <span class="psi-j-font">PSI/J</span> API is in no small part inspired by
                                the Java CoG Kit
                                <a href="https://ieeexplore.ieee.org/document/1271452">Abstraction API</a>.

                                The <a href="swift-lang.org">Swift</a> workflow system made extensive use of
                                and improved on the Java Cog Kit Abstraction API. While the original Swift
                                (Swift/K) is not maintained any more, its two spiritual successors,
                                <a href="http://swift-lang.org/Swift-T/">Swift/T</a> and
                                <a href="https://parsl-project.org/">Parsl</a> are.
                            </p>
                        </v-card>
                    </v-col>
                </v-row>
            </v-tab-item>
        </v-tabs-items>

        <v-footer>
            <v-card flat tile class="lighten-1 text-center"
                style="margin: auto; padding: 2em 0; background-color: #f5f5f5 !important;">
                <v-card-text>
                    &copy;2021-{{ new Date().getFullYear() }} - <strong>ExaWorks</strong>
                </v-card-text>

                <v-row justify="center">
                    <v-col justify="center">
                        <img height="36pt" src="https://exaworks.org/images/llnl.png">
                    </v-col>
                    <v-col justify="center">
                        <img height="36pt" src="https://exaworks.org/images/anl-200.png">
                    </v-col>
                    <v-col justify="center">
                        <img height="36pt" src="https://exaworks.org/images/bnl.png">
                    </v-col>
                    <v-col justify="center">
                        <img height="30pt" src="https://exaworks.org/images/ornl.png"
                            style="vertical-align: bottom; margin-top: 0.3em">
                    </v-col>
                </v-row>
                <v-row justify="center">
                    <v-col class="text-end">
                        <img height="20pt"
                            src="https://science.osti.gov/-/media/_/images/about/resources/logos/png/high-res/RGB_Color-Seal_Green-Mark_SC_Horizontal.png"
                            style="vertical-align: middle">
                    </v-col>
                    <v-col class="text-start">
                        <span class="psi-j-font">PSI/J</span> is funded by the U.S. Department of Energy
                    </v-col>
                    <v-col class="text-end">
                        <img height="40pt" src="https://www.ecpannualmeeting.com/images/ecp-horizontal.png">
                    </v-col>
                    <v-col class="text-start">
                        <span class="psi-j-font">PSI/J</span> is part of the Exascale Computing Project
                    </v-col>
                </v-row>
            </v-card>
        </v-footer>

    </v-app>

    <script>
        var crttab = null;
        v = new Vue({
            el: '#psij-app',
            vuetify: new Vuetify(),
            data: {
                themes: ["theme-1", "theme-3"],
                maintabs2: "index",
                tabChanged: function (name) {
                    console.log("Tab changed to " + name);
                    window.setTimeout(hljs.highlightAll, 100);
                    if (name == "docs") {
                        window.setTimeout(resizeDocsFrame(false), 100);
                    }
                },
                changeTheme: function (name) {
                    console.log("Change theme " + name);
                    var css = $("head").children(":last");
                    $("head").children(":first").attr({
                        href: name + ".css?id=2"
                    });
                    console.log("Bar color: " + getComputedStyle(document.querySelector(':root')).getPropertyValue('--color-bg-inv-1'));
                }
            },
            computed: {
                maintabs: {
                    get() {
                        // for some odd reason, tab switching fails to work
                        // if both tabs and tab items use the same model and
                        // the model uses getters and setters; it works fine
                        // if the model is not computed, but then we can't
                        // mess with the url
                        var hash = window.location.hash;
                        var val;
                        if (hash) {
                            val = hash.substr(1);
                        }
                        else {
                            val = "index";
                        }
                        this.maintabs2 = val;
                        return val;
                    },
                    set(val) {
                        window.location.hash = "#" + val;
                        this.maintabs2 = val;
                        crttab = val;
                        window.setTimeout(function () { resizeDocsFrame(false) }, 1000);
                    }
                }
            }
        });
        hljs.highlightAll();

        crttab = window.location.hash ? window.location.hash.substr(1) : "index";

        function resizeDocsFrame() {
            if (crttab == "docs") {
                var frame = document.getElementById("docs-frame");
                if (frame && frame.contentWindow && frame.contentWindow.document && frame.contentWindow.document.body) {
                    var fdoc = frame.contentWindow.document;

                    frame.style.height = (fdoc.body.offsetHeight + 180) + 'px';

                    $(fdoc).find("a.reference.external").each(function () {
                        $(this).attr("target", "_parent");
                    });
                }
            }
        };

        $("#docs-frame").on("load", function () {
            resizeDocsFrame(false);
            var hash = window.docs.location.hash;
            if (hash) {
                var anchor = window.docs.document.getElementById(hash.substr(1));
                if (anchor) {
                    anchor.scrollIntoView();
                }
            }

            var html = document.getElementsByTagName("html")[0];
            var body = document.getElementsByTagName("body")[0];
            var ibody = window.docs.document.getElementsByTagName("body")[0];

            ibody.scrollcb = function (y) {
                html.scrollTop = y;
                body.scrollTop = y;
            }

            ibody.scrollpos = function () {
                return html.scrollTop;
            }
        });
    </script>
</body>

</html>