:root {
    --color-global-bg: #f9faf4;
    --color-bg-inv-1: #4a6163;
    --color-fg-inv-1: #e0e0e0;
    --color-fg-inv-2: #202020;
    --color-fg-norm-1: #202020;
    --color-fg-norm-2: #404040;
    --color-sel-inv-1: #000000;
    --color-bg-inv-2: #f9a66c;
    --color-bg-norm-1: #ffc94b;
    --color-bg-norm-2: #ffffff;
    --color-link: #6080ff;
    --color-fg-lines: #f17a7b;
}
