:root {
    --color-bg-inv-1: #d0d0d0;
    --color-fg-inv-1: #202020;
    --color-fg-inv-2: #202020;
    --color-fg-norm-1: #202020;
    --color-fg-norm-2: #404040;
    --color-sel-inv-1: #000000;
    --color-bg-inv-2: #ffffff;
    --color-bg-norm-1: #ffffff;
    --color-bg-norm-2: #ffffff;
    --color-link: #6080ff;
    --color-fg-lines: #fe7000;
    --color-global-bg: #ffffff;
}

#psij-app .v-card {
    border-radius: 4pt;
    background-color: #f8f8f8;
    box-shadow: 0pt 0pt 1pt #8080ff !important;
}

#psij-app .v-card.v-card--flat {
    box-shadow: none !important;
}

#secondary-banner .v-card, .v-card__title, .v-card__text,
#secondary-banner .v-card *, #tertiary-banner .v-card * {
    background-color: #f8f8f8 !important;
}
