:root {
    --color-bg-inv-1: #99A799;
    --color-fg-inv: #202020;
    --color-fg-norm-1: #202020;
    --color-fg-norm-2: #404040;
    --color-sel-inv-1: #000000;
    --color-bg-inv-2: #ADC2A9;
    --color-bg-norm-1: #D3E4CD;
    --color-bg-norm-2: #FEF5ED;
    --color-link: #6080ff;
    --color-fg-lines: #e0e0e0;
}
