:root {
    --color-global-bg: #2c2b30;
    --color-bg-inv-1: #f2c4ce;
    --color-bg-inv-2: #d6d6d6;
    --color-bg-norm-1: #4f4f51;
    --color-bg-norm-2: #2c2b30;

    --color-fg-inv-1: #202020;
    --color-fg-inv-2: #202020;
    --color-fg-norm-1: #e0e0e0;
    --color-fg-norm-2: #e0e0e0;

    --color-sel-inv-1: #000000;
    --color-link: #6080ff;
    --color-fg-lines: #f5877c;
}
