:root {
    --color-global-bg: #f6f6f6;
    --color-bg-inv-1: #363538;
    --color-fg-inv-1: #e0e0e0;
    --color-fg-inv-2: #202020;
    --color-fg-norm-1: #202020;
    --color-fg-norm-2: #ffffff;
    --color-sel-inv-1: #000000;
    --color-bg-inv-2: #bdbcba;
    --color-bg-norm-1: #f6f6f6;
    --color-bg-norm-2: #408697;
    --color-link: #6080ff;
    --color-fg-lines: #52d6f4;
}
