:root {
    --color-bg-inv-1: #d0d0d0;
    --color-fg-inv-1: #202020;
    --color-fg-inv-2: #202020;
    --color-fg-norm-1: #202020;
    --color-fg-norm-2: #404040;
    --color-sel-inv-1: #000000;
    --color-bg-inv-2: #f0f0f0;
    --color-bg-norm-1: #f0f0f0;
    --color-bg-norm-2: #f0f0f0;
    --color-link: #6080ff;
    --color-fg-lines: #fe7000;
    --color-global-bg: #f0f0f0;
}

#psij-app .v-card {
    border-radius: 4pt;
    background-color: #ffffff;
    box-shadow: 1pt 1pt 3pt #b0b0b0 !important;
}

#psij-app .v-card.v-card--flat {
    box-shadow: none !important;
}

#secondary-banner .v-card, .v-card__title, .v-card__text,
#secondary-banner .v-card *, #tertiary-banner .v-card * {
    background-color: #ffffff !important;
}
